.subheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  
    
}

.mainheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  width: 80%;
  margin-left: 5%;
}

